@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using EPiServer.Editor
@using EPiServer.Web
@using EpiserverBH.Helpers;
@model PageViewModel<EpiserverBH.Models.Pages.Home>



@*Menu Code starts Here*@
@{
    HelperResult MenuTemplate(HtmlHelpers.MenuItem menuItem)
    {bool children = false;
    bool.TryParse(menuItem.HasChildren.Value.ToString(), out children);
    //If it is HCP Website, change to  if (menuItem.Page.PageTypeName == "HCP")
    //If it is HCP Website, change to  if (menuItem.Page.PageTypeName == "ECP")
    //If it is HCP Website, change to  if (menuItem.Page.PageTypeName == "Rx")
    if (menuItem.Page.PageTypeName == "Home")
    {
        <li>
            @if (children)
            {
                @Html.PageLink(menuItem.Page)
            
                <ul class="sub-nav">
                    @Html.MenuList(menuItem.Page.ContentLink, SubMenuTemplate)
                </ul> }
            else
            {
        
            @Html.PageLink(menuItem.Page)
                    
                    }
        </li>}
        return new HelperResult(w => Task.CompletedTask);
    }
    
}
@{
    HelperResult SubMenuTemplate(HtmlHelpers.MenuItem menuItem)
    {bool children = false;
        bool.TryParse(menuItem.HasChildren.Value.ToString(), out children);
        //If it is HCP Website, change to  if (menuItem.Page.PageTypeName == "HCP")
        //If it is HCP Website, change to  if (menuItem.Page.PageTypeName == "ECP")
        //If it is HCP Website, change to  if (menuItem.Page.PageTypeName == "Rx")
        if (menuItem.Page.PageTypeName == "Home")
        {
            <li>
                @Html.PageLink(menuItem.Page)
            </li>}
        return new HelperResult(w => Task.CompletedTask);
    }
    
}
@*Menu Code Ends Here*@

<header>
    <div class="header-top">
                @Html.PropertyFor(x => x.CurrentPage.HeaderLinksAboveMenu, new { })
            </div>
    <div class="header-top-logo-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-2 logo-new">
                    <div class="logo">
                        @Html.PropertyFor(x => x.CurrentPage.ContentArea_1, new { })

                    </div>
                </div>
                <div class="hamburger-menu d-lg-none"><a> <i class="fas fa-bars"></i> </a></div>
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-10 menu-new d-none d-lg-block">
                    <nav class="menu d-flex justify-content-end">

                        @Html.PropertyFor(x => x.CurrentPage.HeaderLinksMobile, new { })

                    </nav>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 d-block d-lg-none mobile-menu">
                    
                    @Html.PropertyFor(x => x.CurrentPage.ContentArea_3, new { })
                </div>
            </div>
        </div>
    </div>
</header>
        

