@*
    ====================================
    Version: 5.3.1.0. Modified: 20221031
    ====================================
*@

@using EPiServer.Forms.Helpers.Internal
@using EPiServer.Forms.Implementation.Elements
@using EPiServer.Forms.UI.SelectionFactory
@model TextareaElementBlock

@{
    var formElement = Model.FormElement;
    var labelText = Model.Label;
    var cssClasses = Model.GetValidationCssClasses();
    var autoComplete = AutoCompleteSelectionFactory.GetStringValue(Model.AutoComplete);
}
@{ string labelcss = "", inputcss = "", divcss = "";
    divcss = Convert.ToString(Model.FormElement.SourceContent.Property["DivCSS"]);
    inputcss = Convert.ToString(Model.FormElement.SourceContent.Property["InputCSS"]);
    labelcss = Convert.ToString(Model.FormElement.SourceContent.Property["LabelCSS"]);
}
<div class="@divcss">
    
    @using (Html.BeginElement(Model, new { @class = "FormTextbox FormTextbox--Textarea" + cssClasses, data_f_type = "textbox", data_f_modifier = "textarea" }))

    {

        <label for="@formElement.Guid" class="Form__Element__Caption @labelcss">@labelText</label>

        <textarea name="@formElement.ElementName" id="@formElement.Guid" class="FormTextbox__Input @inputcss"
                  placeholder="@Html.FilterHtml(Model.PlaceHolder)"
                  data-f-label="@labelText" data-f-datainput
        @Html.Raw(Model.AttributesString) aria-describedby="@Util.GetAriaDescribedByElementName(formElement.ElementName)"
                  aria-invalid="@Util.GetAriaInvalidByValidationCssClasses(cssClasses)"
                  autocomplete="@autoComplete">@Model.GetDefaultValue()</textarea>

        @Html.ValidationMessageFor(Model)
        @Model.RenderDataList()

    }

</div>