@using EpiserverBH
@using EPiServer.Web.Mvc.Html
@using EpiserverBH.Business
@using Microsoft.AspNetCore.Http.Extensions;
@model PageViewModel<Home>

@{
    string layouturl = null;
    if (Model.Layout.SiteTemplate != null)
    {
        layouturl = "/Views/" + Model.Layout.SiteTemplate + "/Layouts/_Root.cshtml";
    }
}

@{ Layout = layouturl;}

@{
    if (Context.Request.GetDisplayUrl().ToLower().Contains("find-a-doctor"))
    {
        <div class="container-fluid" id="contentPane">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div class="row pad-50">
                            <div class="col-12 home-jumbo jumbotron msg-404">
                                <div id="ContentPane">
                                    @Html.PropertyFor(x => x.CurrentPage.ContentArea_2, new { })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <!-- Banner Starts -->
        <div class="container-fluid banner" id="home">
            <div class="row">
                <div class="col-12">
                    <div class="container">
                        <div id="bannerpane">
                            @Html.PropertyFor(x => x.CurrentPage.ContentArea_2, new { })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner Ends -->
        <!-- Thermage System Starts -->
        <div class="container-fluid" id="clear-and-brilliant">
            <div class="row features-bg">
                <div class="col-12">
                    <div class="container">
                        <div class="row pad-50">
                            @Html.PropertyFor(x => x.CurrentPage.ContentArea_3, new { })

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Thermage System Ends -->
        <!-- Fraxel What to Expect Starts -->
        <div class="container-fluid" id="what-to-expect2">

            <div class="row what-to-expect-bg">
                <div class="col-12 ">
                    <div class="container">
                        <div class="service-history">

                            @Html.PropertyFor(x => x.CurrentPage.ContentArea_4, new { })

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fraxel Where it Works Ends -->
        <!-- Thermage Result Starts -->
        <div class="container-fluid" id="results">
            <div class="row results-carousel">


                <div class="col-12">
                    <div class="container">
                        <div id="beforeafterpane" runat="server">
                            @Html.PropertyFor(x => x.CurrentPage.ContentArea_5, new { })
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#beforeAfterCarousel" data-slide="prev" aria-label="carousel-control-prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#beforeAfterCarousel" data-slide="next" aria-label="carousel-control-next">
                    <span class="carousel-control-next-icon"></span>
                </a>
            </div>
        </div>
        <!-- Testimonial -->
        <div class="container-fluid" id="testimony">
            @Html.PropertyFor(x => x.CurrentPage.ContentArea_6, new { })

        </div>
        <!-- Testimonial Ends -->
        <!-- Faq Starts -->
        <div class="container-fluid" id="faq">
            <div class="row faq-bg">
                <div class="col-sm-12 col-lg-8 offset-lg-2">
                    <div class="container">
                        <div class="faq">
                            @Html.PropertyFor(x => x.CurrentPage.ContentArea_7, new { })


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Faq Ends -->
        <!-- CTA Contact Representative Starts -->
        <div class="container-fluid" id="find-a-doctor">
            <div class="row contact-representative">
                <div class="col-12">
                    <div class="container">
                        <div id="contactrepPane" runat="server">

                            @Html.PropertyFor(x => x.CurrentPage.BodyISI, new { })

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CTA Contact Representative Ends -->

    }
}
