@using EPiServer.Framework.Web.Mvc.Html
@using EPiServer.ServiceLocation;
@using EpiserverBH.Business
@using EPiServer.Web
@using System
@using EPiServer.Core
@using Microsoft.AspNetCore.Http.Extensions;
@model IPageViewModel<SitePageData>
@{
    string schemaInformation = Convert.ToString(ViewBag.SchemaInformation);
    var pageRef = ContentReference.StartPage;

    var repository = EPiServer.ServiceLocation.ServiceLocator.Current.GetInstance<IContentRepository>();
    var startPage = ContentReference.StartPage;

    PageData SiteStartPage = repository.Get<PageData>(pageRef);

    var currentpage = ((EpiserverBH.Models.ViewModels.PageViewModel<EpiserverBH.Models.Pages.Development.GenericHome>)Model).CurrentPage;
    string[] sitecss = currentpage.SiteCSS;
    string[] sitejs = currentpage.SiteJs;
}
<!DOCTYPE html>
<html lang="@(Model.CurrentPage.Language)">
<head id="Head">
    <script type="text/javascript" data-cmp-ab="1" src="https://cdn.consentmanager.net/delivery/autoblocking/3000b2a061a83.js" data-cmp-host="d.delivery.consentmanager.net" data-cmp-cdn="cdn.consentmanager.net" data-cmp-codesrc="1"></script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta name="viewport" Content="width=device-width, initial-scale=1.0, user-scalable=yes" />
    <meta id="MetaRobots" name="ROBOTS" content="INDEX, FOLLOW" />
    <meta name="google-site-verification" content="q_f_Pfgq8GFZmVW0R5uGrzuJ5PH7z4_eP7ekU_C4-qU" />
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Raleway:ital,wght@0,500;0,600;0,700;1,800&display=swap" rel="stylesheet">
    <link href="/Assets/Arestin-DTC/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Assets/Arestin-DTC/css/aos.css" rel="stylesheet" />
    <link href="/Assets/Arestin-DTC/css/slick.css" rel="stylesheet" />
    <link href="/Assets/Arestin-DTC/css/global.css" rel="stylesheet" />
    <link rel="shortcut icon" href="/siteassets/img/favicon.ico" type="image/x-icon" />
    <script rel="preload" src="/Assets/Arestin-DTC/js/jquery.min.js"></script>
    <script rel="preload" src="/Assets/Arestin-DTC/js/linkClass.js"></script>

    <script type="text/javascript">
        (function () {
            var didInit = false;
            function initMunchkin() {
                if (didInit === false) {
                    didInit = true;
                    Munchkin.init('350-OKO-721', { "wsInfo": "j05NcQ%3D%3D" });
                }
            }
            var s = document.createElement('script');
            s.type = 'text/javascript';
            s.async = true;
            s.src = '//munchkin.marketo.net/munchkin-beta.js';
            s.onreadystatechange = function () {
                if (this.readyState == 'complete' || this.readyState == 'loaded') {
                    initMunchkin();
                }
            };
            s.onload = initMunchkin;
            document.getElementsByTagName('head')[0].appendChild(s);
        })();
    </script>

    <title>@Model.CurrentPage.MetaTitle</title>


    @if (Model.CurrentPage.MetaKeywords != null && Model.CurrentPage.MetaKeywords.Length > 0)
    {
        <meta name="keywords" content="@string.Join(",", Model.CurrentPage.MetaKeywords)" />
    }

    @if (!string.IsNullOrWhiteSpace(Model.CurrentPage.MetaDescription))
    {
        <meta name="description" content="@Model.CurrentPage.MetaDescription" />
    }

    @if (!string.IsNullOrWhiteSpace(Convert.ToString(Model.CurrentPage.Property["OGTitle"].Value)))
    {
        <meta property="og:title" content="@Model.CurrentPage.Property["OGTitle"].Value" />
    }
    else
    {
        <meta property="og:title" content="@Model.CurrentPage.MetaTitle" />
    }

    @if (!string.IsNullOrWhiteSpace(Convert.ToString(Model.CurrentPage.Property["OGDescription"].Value)))
    {
        <meta property="og:description" content="@Model.CurrentPage.Property["OGDescription"].Value" />
    }
    else if (!string.IsNullOrWhiteSpace(Model.CurrentPage.MetaDescription))
    {
        <meta property="og:description" content="Model.CurrentPage.MetaDescription" />
    }

    @if (!string.IsNullOrWhiteSpace(Convert.ToString(Model.CurrentPage.Property["OGImage"].Value)))
    {
        <meta property="og:image" content="@EpiserverBH.Helpers.HtmlHelpers.ToExternalImage(Convert.ToString(Model.CurrentPage.Property["OGImage"].Value)))" />
    }

    <meta property="og:url" content="@Context.Request.GetDisplayUrl().ToLower()" />

    @if (!string.IsNullOrWhiteSpace(Model.CurrentPage.MetaData))
    {
        @Html.Raw(Model.CurrentPage.MetaData)
    }

    @Html.CanonicalLink()
    @Html.AlternateLinks()

    <required-client-resources area="Header" />


    @if (sitecss != null && sitecss.Length > 0)
    {
        for (var i = 0; i < sitecss.Length; i++)
        {
            <link href="@Url.ContentUrl(sitecss[i])" type="text/css" rel="stylesheet" />
        }
    }

    @if (Model.Layout.GoogleTagManager != null)
    {
        <script type="text/javascript">

            (function (w, d, s, l, i) {
                w[l] = w[l] || []; w[l].push({ 'eaSendGaEvents': true, 'pageVariant': 'Default' });
                w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);

            })(window, document, 'script', 'dataLayer', '@Model.Layout.GoogleTagManager');

        </script>
    }

</head>

<body>
    @await Html.RenderEPiServerQuickNavigatorAsync()

    <noscript>
        @if (Model.Layout.GoogleTagManager != null)
        {
            <iframe src="//www.googletagmanager.com/ns.html?id=@Model.Layout.GoogleTagManager"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe>
        }
    </noscript>

    <div id="Wrapper">
        @{
            string layouturl = null;

            layouturl = "~/Views/" + "Arestin-DTC" + Model.Layout.SiteTemplate;
        }

        @if (Model.Layout.IsInReadonlyMode)
        {
            await Html.RenderPartialAsync("Readonly", Model);
        }

        @Html.FullRefreshPropertiesMetaData()

        @if (!Model.CurrentPage.HideSiteHeader)
        {
            await Html.RenderPartialAsync(layouturl + "/Header.cshtml", Model);
        }

        @RenderBody()

        @if (!Model.CurrentPage.HideSiteFooter)
        {
            await Html.RenderPartialAsync(layouturl + "/Footer.cshtml", Model);
        }
    </div>

    <required-client-resources area="Footer" />


    @if (sitejs != null && sitejs.Length > 0)
    {
        for (var i = 0; i < sitejs.Length; i++)
        {
            <script src="@Url.ContentUrl(sitejs[i])" type="text/javascript" async></script>
        }
    }


    <script rel="preload" src="/Assets/Arestin-DTC/js/bootstrap.min.js"></script>
    <script rel="preload" src="/Assets/Arestin-DTC/js/aos.js" async></script>
    <script rel="preload" src="/Assets/Arestin-DTC/js/jarallax.js" async></script>
    <script rel="preload" src="/Assets/Arestin-DTC/js/slick.min.js" async></script>
    <script rel="prefetch" src="https://fast.wistia.com/embed/medias/fo7t4swd53.jsonp" async> </script>
    <script rel="prefetch" src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
    <script rel="preload" src="/Assets/Arestin-DTC/js/custom.js" async></script>
    <script rel="prefetch" src="/Assets/PhysicianFinder/Templates/Arestin-DTC/js/location.min.js" async></script>
    <script rel="prefetch" src="/Assets/PhysicianFinder/Templates/Arestin-DTC/js/validation.min.js" async></script>
    <link href="/Assets/PhysicianFinder/Templates/Arestin-DTC/css/Locator.css" rel="stylesheet" />
</body>
</html>
