@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@using EPiServer.Editor
@using EPiServer.Web
@model IPageViewModel<SitePageData>

@*Menu Code Starts Here*@
@{
    HelperResult MenuTemplate(HtmlHelpers.MenuItem menuItem)
    {
        bool children = false;
        bool.TryParse(menuItem.HasChildren.Value.ToString(), out children);

        <li class="nav-item nav-link dropdown">
            @if (children)
            {
                <div class="dropdown-toggle">
                    @Html.PageLink(menuItem.Page)
                    <ul class="dropdown-menu">
                        @Html.MenuList(menuItem.Page.ContentLink, SubMainMenuTemplate)
                    </ul>
                </div>
            }
            else
            {
                @Html.PageLink(menuItem.Page)
            }

        </li>
        return new HelperResult(w => Task.CompletedTask);
    }
}


@{
    HelperResult SubMainMenuTemplate(HtmlHelpers.MenuItem menuItem)
    {
        bool children = false;
        bool.TryParse(menuItem.HasChildren.Value.ToString(), out children);

        <li class="">
            @if (children)
            {
                @Html.PageLink(menuItem.Page)
                <ul class="submenu">
                    @Html.MenuList(menuItem.Page.ContentLink, SubMenuTemplate)
                </ul>
            }
            else
            {
                @Html.PageLink(menuItem.Page)
            }
        </li>
        return new HelperResult(w => Task.CompletedTask);
    }
}

@{
    HelperResult SubMenuTemplate(HtmlHelpers.MenuItem menuItem)
    {
        bool children = false;
        bool.TryParse(menuItem.HasChildren.Value.ToString(), out children);

        <li> @Html.PageLink(menuItem.Page)</li>
        return new HelperResult(w => Task.CompletedTask);
    }
}

<header class="top-bar"> 
    <nav class="">
        <div class="container d-none d-lg-block">
            <div class="row">
                <div class="col-lg-4">
                    <a class="logo" href="@Model.Layout.LogotypeLinkUrl" title="@Model.Layout.Logotype.Title">
                        <img class="img-fluid" src="@EpiserverBH.Helpers.HtmlHelpers.ToExternalImage(Convert.ToString(Model.Layout.Logotype.Url))" alt="@Model.Layout.Logotype.Title" />
                    </a>
                </div>
                <div class="col-lg-8">
                    
                    @Html.PropertyFor(x => ((EpiserverBH.Models.Pages.Development.GenericHome)x.CurrentPage).HeaderLinks, new { })
                </div>
            </div>
        </div>
        <div class="container d-block d-lg-none">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="logo-list">
                        <li>
                            <a class="logo" href="@Model.Layout.LogotypeLinkUrl" title="@Model.Layout.Logotype.Title">
                                <img class="img-fluid" src="@EpiserverBH.Helpers.HtmlHelpers.ToExternalImage(Convert.ToString(Model.Layout.Logotype.Url))" alt="@Model.Layout.Logotype.Title" />
                            </a>
                        </li>
                        <li>
                      
                            @Html.PropertyFor(x => ((EpiserverBH.Models.Pages.Development.GenericHome)x.CurrentPage).HeaderLinks, new { })

                        </li>
                    </ul>
                </div>
            </div>

            @*<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">

            </button>*@
            @*<div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-lg-0">
                    <ul class="navbar-nav">
                        @Html.MenuList(SiteDefinition.Current.StartPage, MenuTemplate)
                    </ul>

                </div>
            </div>*@
        </div>
    </nav>
</header>